<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>dns-update-client.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>dns-update-client.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="OFF" additivity="false"/>

    <logger name="org.apache.http" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logFile"/>
    </logger>

    <logger name="org.springframework" level="error" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logFile"/>
    </logger>

    <logger name="uk.edwinek.dnsupdateclient" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logFile"/>
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logFile"/>
    </root>

</configuration>